{% extends "dash.html" %}
{% load crispy_forms_tags %}        
{% load i18n %} 
{% load staticfiles %} 
{% block container %} 
<body>
<div class="container-fluid" class="responsive" style="height: auto; width: auto; background-color: grey">
<h2 style="color:white"><center><b>{% trans "Compose Message" %}<b></center></h2><br>
<div class="container-fluid" style="height:auto; width: auto; color:grey; background-color: ghostwhite"><br><br>
<br>
<div class="row">
<div class="col-md-2">
  </div>
<div class="col-md-8" style="padding:1px;border:1px groove SteelBlue; background-color:white">
<center><b><h2>Instant Message</h2><b></center><hr>
<div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-9">
		  
                        {{post.zip_Code}}
                
{% for object in zipcode %}
  {% if object.name == post.zip_Code %}
  
     {{ object.email }} <p>,</p> 
  
  {% else %}
                        
                {% endif %}  
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">
                   {% csrf_token %} 
                       <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.user.label_tag }}</p>
                        
                         
  <div class="col-md-6"> {{form.recipient}} </div><br><br><br><br>
                          
  <div class="col-md-6"> {{form.subject}} </div><br><br><br><br>
                            
  <div class="col-md-6"> {{form.body}} </div><br><br><br><br>
                            
                          
<center><input type="image" src='{% static "img/msge.png" %}' /></center>
</form></div></div></div></div><br><br>
</div><br></div>

{% endblock %}
