{% extends "dashboard.html"%}

{% block container %}
{% load staticfiles %}
<head>
	
	<link rel="stylesheet" href="{% static 'css/style1.css' %}"> <!-- Resource style -->
	</head>

<div class="container-fluid" class="responsive" style="height: auto; width: auto; background-color: white">
	
<h3 style="color:#797980"><center><b>POST SERVICE DETAIL<b></center></h3>
</div>
<div class="container-fluid" style="height:auto; width: auto; color:DarkCyan; background-color: white">
      <h3 style="color:#3b5998; margin-left:50px">{{post.title}}</h3>
        

    <div class='col-sm-6' id="over">

         
         
        <div>
           
            
                        <ul>
                       
                                <img src="{{ post.docfile.url }}" style="height:40%; width:450%;" class="img-responsive" alt="{{ post.docfile.name }}">

                               
                                </a></li>
                       
                        </ul>
             
            
            
        </div> 
    </div>
<div class='col-sm-1'>
	</div>
    <!-- Product Sidebar --> 
    <div class='col-sm-5'>
         
        {% if object.variation_set.count > 1 %}
            <select class="form-control">
                {% for vari_obj in object.variation_set.all %}
                <option value="{{ vari_obj.id }}"> {{ vari_obj }}</option>  
                {% endfor %}
            </select>
        {% endif %}
        
        <h4 style="color:#434343;"><lable><i class="fa fa-calendar">From:</lable></h4></i>
     <h4 style="color:#3b5998;">  {{post.date_Update|date:"d M Y"}}</h4>
     
     
     
       	
        <h4 style="color:#434343;"><lable><i class="fa fa-calendar"> Till:</lable></h4></i>
      <h4 style="color:#3b5998"> {{post.expire_date|date:"d M Y"}}</h4>
      
      	
        <h4 style="color:#434343;"><lable><i class="fa fa-home">Location:</lable></h4></i>
       
   <h4 style="color:#3b5998;">    {{post.address}}</h4>
       
       
  <h5 style="color:#434343;">  Update Service<a class="btn btn-default" href="/services/{{ post.pk }}/edit/"> <i class="fa fa-pencil-square-o"></i>
</a>  </h5>
  <h5 style="color:#434343;">  Puclic Service<a class="btn btn-default" href="/services/{{ post.pk }}/public/"> <i class="fa fa-pencil-square-o"></i>
</a>  </h5>  
    </div>
	<div class="row-fluid">
	<div class="col-sm-12">
	  
          <p><h4 style="color:#3b5998; margin-left:50px">{{ post.description }}</h4></p>
		</div>
      </div> 
    </div>
</div>
{% endblock %}
